/* You can add global styles to this file, and also import other style files */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.4rem;
}

@import "variables";
@import 'flexboxgrid';
@import "mixins";
@import 'icomoon';
@import 'ttt';
