<div class="ttt">

  <!--<app-header></app-header>-->

  <main>
    <div class="container-fluid wrap">
      <div class="row bottom-xs">
        <div class="col-xs-12 col-sm-6">
          <div class="box">
            <h1>Main heading</h1>

            <router-outlet></router-outlet>

          </div>
        </div>
        <div class="col-xs-12 col-sm-6 pad-t-10">
          <div class="box center-xs left-sm">
          </div>
        </div>
      </div>
    </div>
  </main>


  <!--<login [offDirection]="'off-right'"></login>-->

  <!--<router-outlet></router-outlet>-->

  <!--<pre>-->
  <!--[{{user | json}}]-->
  <!--</pre>-->

<!--  <app-message></app-message>

  <app-footer></app-footer>-->

  <pre>
    <div class="css-data">
      <span><strong>Responsive device:</strong></span>
      <span class="hidden show-xxs">[Mobile Only]</span>
      <span class="hidden show-xs">[Phablet]</span>
      <span class="hidden show-sm">[Tablet]</span>
      <span class="hidden show-md">[Laptop]</span>
      <span class="hidden show-lg">[Desktop]</span>
    </div>
  </pre>

</div>

